.free-vector-network-mesh-wir1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child1 {
  height: 2.5rem;
  width: 5.625rem;
  position: relative;
  border-radius: var(--br-9980xl);
  background-color: var(--color-black);
  display: none;
}
.home1 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 3.125rem;
  z-index: 1;
}
.frame-child2,
.group-button {
  background-color: var(--color-black);
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-xl);
  border-radius: var(--br-9980xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.group-button:hover,
.rectangle-parent1:hover,
.rectangle-parent2:hover {
  background-color: var(--color-darkslategray);
}
.frame-child2 {
  height: 2.5rem;
  width: 5.625rem;
  position: relative;
  border-radius: var(--br-980xl);
  display: none;
}
.about1 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 3.625rem;
  z-index: 1;
}
.rectangle-parent1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-base);
  background-color: var(--color-black);
  border-radius: var(--br-980xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.hobbies1 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 4.438rem;
  z-index: 1;
}
.rectangle-parent2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-4xs);
  background-color: var(--color-black);
  border-radius: var(--br-9980xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.contact1 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 5rem;
  z-index: 1;
}
.navigation1,
.rectangle-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent3 {
  border-radius: var(--br-980xl);
  background-color: var(--color-black);
  padding: var(--padding-2xs) var(--padding-8xs);
  z-index: 1;
}
.navigation1 {
  margin: 0;
  gap: var(--gap-8xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.fb-facebook-facebook-logo-icon {
  height: 8rem;
  width: 8rem;
  position: relative;
  object-fit: cover;
}
.mary-grace-paredes {
  height: 4.813rem;
  position: relative;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
}
.platform-icons,
.social-usernames {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.social-usernames {
  flex-direction: column;
  padding: var(--padding-6xl-5) 0 0;
  box-sizing: border-box;
}
.platform-icons {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 3.187rem 3rem;
}
.greii-ciaa {
  align-self: stretch;
  position: relative;
  font-weight: 900;
}
.greii-ciaa-wrapper,
.platform-icons1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.greii-ciaa-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xl-5) 0 0;
  min-width: 20.938rem;
}
.platform-icons1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 3.187rem 3.062rem;
}
.paredes-mary-grace17 {
  position: relative;
  font-weight: 900;
}
.platform-icons2,
.social-icons {
  align-items: flex-start;
  max-width: 100%;
}
.platform-icons2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  gap: 3.187rem 3.062rem;
}
.social-icons {
  width: 55.438rem;
  flex-direction: column;
  gap: 5.875rem;
  z-index: 1;
}
.desktop-4,
.social,
.social-icons {
  display: flex;
  justify-content: flex-start;
}
.social {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop-4 {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-29xl) var(--padding-54xl) 14.125rem;
  box-sizing: border-box;
  gap: 8.625rem;
  background-image: url(./public/desktop--4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .greii-ciaa,
  .mary-grace-paredes,
  .paredes-mary-grace17 {
    font-size: var(--font-size-32xl);
  }
  .social-icons {
    gap: 2.938rem;
  }
  .desktop-4 {
    gap: 4.313rem;
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .mary-grace-paredes {
    font-size: var(--font-size-19xl);
  }
  .platform-icons {
    gap: var(--gap-5xl);
  }
  .greii-ciaa {
    font-size: var(--font-size-19xl);
  }
  .platform-icons1 {
    gap: var(--gap-5xl);
  }
  .paredes-mary-grace17 {
    font-size: var(--font-size-19xl);
  }
  .platform-icons2 {
    gap: var(--gap-5xl);
  }
  .social-icons {
    gap: 1.438rem;
  }
  .desktop-4 {
    gap: 2.125rem;
  }
}
