.free-vector-network-mesh-wir3 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child9 {
  height: 2.5rem;
  width: 5.625rem;
  position: relative;
  border-radius: var(--br-9980xl);
  background-color: var(--color-black);
  display: none;
}
.home3 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 3.125rem;
  z-index: 1;
}
.frame-child10,
.rectangle-parent8 {
  background-color: var(--color-black);
}
.rectangle-parent8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-xl);
  border-radius: var(--br-9980xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent10:hover,
.rectangle-parent11:hover,
.rectangle-parent8:hover,
.rectangle-parent9:hover {
  background-color: var(--color-darkslategray);
}
.frame-child10 {
  height: 2.5rem;
  width: 5.625rem;
  position: relative;
  border-radius: var(--br-980xl);
  display: none;
}
.about3 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 3.625rem;
  z-index: 1;
}
.rectangle-parent9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-base);
  background-color: var(--color-black);
  border-radius: var(--br-980xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.hobbies3 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 4.438rem;
  z-index: 1;
}
.rectangle-parent10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-4xs);
  background-color: var(--color-black);
  border-radius: var(--br-9980xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.contact3 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 5rem;
  z-index: 1;
}
.rectangle-parent11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-8xs);
  background-color: var(--color-black);
  border-radius: var(--br-980xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group,
.index-inner {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-group {
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 0.312rem 0.231rem;
  z-index: 1;
}
.index-inner {
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 3.5rem;
  box-sizing: border-box;
}
.greetings {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.greetings-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.im-mary-grace1 {
  align-self: stretch;
  position: relative;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}
.content-inner,
.greetings-title-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.greetings-title-parent {
  align-self: stretch;
  gap: 5rem;
  flex-shrink: 0;
}
.content-inner {
  flex: 1;
  padding: 0 0 2.5rem;
  box-sizing: border-box;
  min-width: 38rem;
  min-height: 24.313rem;
  max-width: 100%;
}
.bb887e47-cf6f-4cb1-ad11-490b19-icon {
  width: 30.5rem;
  position: relative;
  border-radius: var(--radius-full);
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.content1,
.index {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.index {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-29xl) var(--padding-base) 17.562rem 0;
  box-sizing: border-box;
  gap: 10.75rem;
  background-image: url(./public/desktop--1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .bb887e47-cf6f-4cb1-ad11-490b19-icon {
    flex: 1;
  }
  .content1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .greetings {
    font-size: var(--font-size-19xl);
  }
  .im-mary-grace1 {
    font-size: var(--font-size-29xl);
  }
  .greetings-title-parent {
    gap: 2.5rem;
  }
}
@media screen and (max-width: 750px) {
  .index-inner {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .greetings-title-parent {
    gap: var(--gap-xl);
  }
  .content-inner {
    min-width: 100%;
  }
  .index {
    gap: 5.375rem;
  }
}
@media screen and (max-width: 450px) {
  .greetings {
    font-size: var(--font-size-10xl);
  }
  .im-mary-grace1 {
    font-size: 36px;
  }
  .index {
    gap: 2.688rem;
  }
}